* {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: black;
}

.navbar {
    background-color: white;
    color: black;
}

.navbar-brand {
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-nav .nav-link {
    color: black;
}

.navbar-nav .nav-item.active .nav-link {
    color: black;
}
a{
    color: black;
}
